<!DOCTYPE html>

<html lang="en">



<head>

    <title>Customers</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/javascript">

        const update = (id) => {

            window.open('http://localhost:3000/customer/update/' + id);

        };

        const deleteCustomer = async (id) => {

            await $.ajax({

                url: `http://localhost:3000/customer/delete/${id}`,

                type: "DELETE",

                dataType: "json",

                contentType: "application/json",

                success: function (result) {

                },

                error: function (xhr, ajaxOptions, thrownError) {

                    console.log(xhr.status);

                    console.log(thrownError);

                }

            });

            location.reload();

        };

    </script>

</head>

<body>

<h2>List Customers</h2>

<% for(const customer of customers) { %>

    <h3>

        Fullname: <%= customer.fullName %>

    </h3>

    <p>

        CustomerID: <%= customer.customerID %>

    </p>

    <p>

        Email: <%= customer.email %>

    </p>
    <p>

        Phone: <%= customer.phone %>

    </p>

    <button onclick="update('<%= customer.id %>')">Update</button>

    <button onclick="deleteCustomer('<%= customer.id %>')">Delete</button>

    </br>

<% } %>

</body>

</html>